/* @HTML Tags */
body {
  background-color: #EEEEEE;
}

a {
  color: rgba(0, 173, 181,1);
  text-decoration: none;
}

a:hover {
  color: rgba(0, 173, 181,0.75);
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* @Fontawesome Icons */
.personal-icon {
  margin: 20px 10px 0;
  color: rgba(34, 40, 49, 1);
}

.personal-icon:hover {
  color: rgba(34, 40, 49, .75);
}

/* @Containers */
.container-fluid {
  padding: 10% 5% 0;
}

.image-container {
  text-align: center;
}

.section-container {
  min-height: max(100vh, 500px);
  align-items: center;
}

/* @Sections */
.centered-section {
  text-align: center;
}

.left-aligned-section {
  text-align: left;
}

.section-title {
  font-weight: bold;
  padding-bottom: 40px;
}

/* @Accordion */
.accordion-item {
  background-color: #EEEEEE;
}

.accordion-button {
  background-color: rgba(57, 62, 70, 0.75);
  color : rgb(238, 238, 238)
}

.accordion-button:not(.collapsed) {
  background-color: rgba(57, 62, 70, 1);
  color: rgb(250, 250, 250);
}

/* @ Buttons */
.download-button {
  margin: 0 5%;
}

/* @ Nav Bar */
a.nav-link:hover {
  text-decoration: none;
}

.navbar-coloration {
  background-color: #393E46;
}

.navbar .container-fluid {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

/* @Title Section */
.about-me-text {
  text-align: justify;
}

.title-image {
  width: 70%;
  border-radius: 100%;
}

/* @Research Section */
.research-subsection {
  padding-bottom: 2%;
}

.research-element {
  padding: 0 0 5%;
}

/* @Teaching Section */
.course-container {
  padding-bottom: 5%;
}

.course-title {
  padding-bottom: 2%;
}

.course-container .card-footer {
  padding-bottom: 5%;
}


/* @Courses Section */

/* @Footer Section */
#footer {
  text-align: center;
  background-color: #00ADB5;
  color: #fff;
}

#footer .container-fluid {
  align-items: center;
  text-align: center;
  padding: 2% 5%;
}

#footer p {
  margin: 0;
}

/* @Media queries */
@media (max-width: 767px) {

  /* @Containers media queries */
  .container-fluid {
    padding: 15% 5% 0;
  }

  /* @ Title media queries */
  #about-me {
    text-align: center;
  }

  #about-me .image-container {
    padding: 0 0 3%;
  }

  .title-image {
    width: 40%;
  }
}
