/* @ Documentation */

/* Color pallete obtained in colorhunt.co. Specific color palette: https://colorhunt.co/palette/334257476072548ca8eeeeee */



/* @Font tests */
.lato {
  font-family: "Lato", sans-serif;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.merriweather {
  font-family: "Merriweather Sans", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.open-sans {
  font-family: "Open sans", sans-serif;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

/* @HTML Tags */
body {
  background-color: rgb(238, 238, 238);
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 300;
}

a {
  color: rgb(84, 140, 168);
  text-decoration: none;
}

a:hover {
  color: rgb(84, 140, 168);
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* @Fontawesome Icons */
.personal-icon {
  margin: 20px 10px 0;
  color: rgb(51, 66, 87);
}

.personal-icon:hover {
  color: rgb(51, 66, 87);
  color: rgba(51, 66, 87, .75);
}

/* @Containers */
.container-fluid {
  padding: 0 5%;
}

.image-container {
  text-align: center;
  margin: auto 0;
}

.section-container {
  min-height: max(90vh, 500px);
  padding-top: 120px;
}

/* @Sections */
.centered-section {
  text-align: center;
}

.left-aligned-section {
  text-align: left;
}

.section-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding-bottom: 40px;
}

/* @ Buttons */
.download-button {
  margin: 0 5%;
}

/* @ Nav Bar */
.navbar {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.navbar-coloration {
  background-color: rgb(51, 66, 87);
}

.navbar-brand {
  color: rgb(238, 238, 238);
  font-size: 1.7rem;
  font-weight: 500;
}

.navbar-brand:hover {
  text-decoration: none;
  color: rgb(179, 179, 179);
  color: rgba(238, 238, 238, 0.75);
}

.nav-link {
  color: rgb(131, 131, 131);
  color: rgba(238, 238, 238, 0.55);
}

.nav-link:hover {
  text-decoration: none;
  color: rgb(179, 179, 179);
  color: rgba(238, 238, 238, 0.75);
}

.nav-link.active {
  color: rgb(238, 238, 238);
}

.navbar .container-fluid {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.toggler-icon {
    display: block;
    background-color: rgb(238,238,238);
    height: 2px;
    width: 26px;
    margin: 5px 0 ;
    opacity: 0.8;
    transition: all 0.2s;
    transform-origin: center left;
}

.custom-toggler:not(.collapsed) .top-bar {
    margin-top: 0.3em;
}

.custom-toggler:not(.collapsed) .top-bar {
    transform: translate(15%, -100%) rotate(45deg);
}

.custom-toggler:not(.collapsed) .middle-bar {
    opacity: 0;
}

.custom-toggler:not(.collapsed) .bottom-bar {
    transform: translate(15%, 100%) rotate(-45deg) ;
}

.custom-toggler .top-bar {
    transform: translate(0%, 0%) rotate(0deg) ;
}

.custom-toggler .bottom-bar {
    transform: translate(0%, 0%) rotate(0deg) ;
}

/* @Title Section */
.about-me-text {
  text-align: justify;
  margin: auto 0;
}

.title-image {
  width: 70%;
  border-radius: 100%;
}

/* @Research Section */
.research-subsection {
  padding-bottom: 2%;
}

.research-element {
  padding: 0 0 5%;
}

.paper-title {
  font-size: 1.3rem;
  font-weight: 500;
}

/* @Teaching Section */
.course-container {
  padding-bottom: 5rem;
}

.course-title {
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight:
}

/* @Courses Section */
/* @Footer Section */
#footer {
  text-align: center;
  background-color: rgb(71, 96, 114);
  color: rgb(238, 238, 238);
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

#footer .container-fluid {
  align-items: center;
  text-align: center;
  padding: 2% 5%;
}

#footer p {
  margin: 0;
}

/* @Medium and large media queries */
@media (min-width: 768px) {
  /* @ Title media queries */
  #about-me .section-container {
    padding: auto 0;
  }
}

/* @Small Media queries */
@media (max-width: 767px) {

  /* @Containers media queries */
  .container-fluid {
    padding: 0 5%;
  }

  .section-container {
    padding-top: 100px;
  }

  /* @ Title media queries */
  #about-me {
    text-align: center;
  }

  .about-me-text {
    text-align: center;
  }

  #about-me .image-container {
    padding: 0 0 3%;
  }

  .title-image {
    width: 45%;
  }
}
